.icon-image {
    image-rendering: pixelated;
}

.STONE {
    width: 100%;
    height: 100%;

    top: 0%;
    left: 0%;
}

.WOOD {
    width: 100%;
    height: 100%;

    top: 0%;
    left: 0%;
}

.CENTI {
    width: 300%;
    height: 300%;

    top: -100%;
    left: -100%;
}

.BALL {
    width: 100%;
    top: -20%;
}

.FIRE {
    width: 300%;
    height: 200%;
    top: -120%;
    left: -100%;
}

.FIRE2 {
    width: 300%;
    height: 200%;
    top: -120%;
    left: -100%;
}