.EXAMPLE {
    width: 80%;
    height: 80%;

    top: 10%;
    left:10%;
}

.STONE {
    width: 100%;
    height: 100%;

    top: 0%;
    left: 0%;
}

.WOOD {
    width: 100%;
    height: 100%;

    top: 0%;
    left: 0%;
}

.GAS {
    width: 80%;
    height: 80%;

    top: 10%;
    left:10%;
}

.PACKAGE {
    width: 300%;
    height: 300%;

    top: -100%;
    left: -100%;
}

.SPAWNER {
    width: 80%;
    height: 80%;

    top: 10%;
    left:10%;
}

.SPAWNER_RANDOM {
    width: 300%;
    height: 300%;

    top: -100%;
    left: -100%;
}

.CENTI {
    width: 300%;
    height: 300%;

    top: -100%;
    left: -100%;
}

.BALL {
    width: 100%;
    top: -20%;
}

.FIRE {
    width: 300%;
    height: 200%;
    top: -120%;
    left: -100%;
}

.FIRE2 {
    width: 300%;
    height: 200%;
    top: -120%;
    left: -100%;
}